<link rel="stylesheet" href="/stylesheets/contact-form/index.css">

<form class="form" method="POST" action="/send">
    <h2>CONTACT ME</h2>
    <p type="Name:"><input required name="name" placeholder="Write your name here.."></input></p>
    <p type="Email:"><input required name="email" placeholder="Let me know how to contact you back.."></input></p>
    <p type="Message:"><input required name="msg" placeholder="What would you like to know?"></input></p>
    {{#if status}}
        <p style="color: green;">Message Sent!</p>
    {{else}}
        <p style="font-size:18px;color: #4392F1;">Send a message!</p>
    {{/if}}
    <button type="submit">Send Message</button>
    {{!-- <div class="div">
        <span class="fa fa-phone"></span>(907)123-4567
        <span class="fa fa-envelope-o"></span> contact@company.com
    </div> --}}
</form>
